.logo {max-height: 30px; margin: 0px 50px 0px 10px;}

.btn-outline-success {
  color: #28a745;
  background-color: transparent;
  background-image: none;
  border-color: #28a745;
}

.cart-item {
  margin: 8px 20px 8px 0px;

}

.navbar-right {
  margin-right: 10px
}

.cart {
  margin: 12px;
  display: inline-block;
  color: #cf4b7c;
  font-weight: 700;
  font-size: 12px;
  border-right: 1px solid #ddd;
  padding-right: 10px;
}

.navbar {
  margin-bottom: 0px;
}
header .navbar{
  background-color: #ffffff;
  border-color: #ffffff;
}
.breadcrumb-container {
  background-color: #e7e7e7;
  margin-top:56px;
}

.breadcrumb {
  margin-bottom: 5px;
  background-color: #e7e7e7;
}
.breadcrumb>li+li:before {
  padding: 0 15px;
  font-size: 16px;
  content: "\003e";
}

.breadcrumb-items {
  padding: 0 20px;
  font-size: 12px;
  color: #80808078;
}
.breadcrumb-items.active{
  color: black;
}

@media (max-width: 767px) {
  .navbar-right > li {
    display: inline-block;
  }

  .breadcrumb-items {
    padding: 0px 5px;
  }

  .breadcrumb {
    padding: 30px 5px;
  }
}
