.delivery-box{
  border: none;
  border-bottom: 1px dashed #ddd;
  border-radius: unset;
  box-shadow: none;
  outline: none;
}
.delivery-box:focus{
  box-shadow: none;
  border-bottom: 1px dashed #ddd;
}
.dropdown,.dropdown:focus{
  border: none;
  outline: none;
  box-shadow: none;
}
.order-box{
  background-color: #ffffff;
  border-color: #ffffff;
}
