<!--<div class="container-fluid order-box">
  <div ng-include="'./../components/orders/order.html'"></div>
</div>-->
<div class="container">
  <div class="row package-container padding-15" *ngFor="let item of itemDetails; let i = index">
    <div class="clearfix">
      <div class="col-sm-2 no-pad">
        <img [src]="item.imageUrl" class="img-responsive  package-img">
      </div>
      <div class="col-sm-8">
        <ul class="list-unstyled">
          <li class="text-4">{{item.name}}</li>
          <li class="text-1"> service1 : {{item.service1}}</li>
          <li class="text-1"> service2 : {{item.service2}}</li>
          <li class="text-1"> service3 : {{item.service3}}</li>
        </ul>
      </div>
      <div class="col-sm-2">
        <div class="padding-top-15">
          <div class="symbol" (click)="onDecrease(i)">-</div>
          <div class="order-count">{{item.quantity}}</div>
          <div class="symbol" (click)="onIncrease(i)">+</div>
          <button class="btn btn-outline-success btn-sm configure"> Configure</button>
        </div>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-confirm pull-right" routerLink="/checkout" (click)="onConfirmYourItem()"> confirm Your Items</button>
</div>
